<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
        <%- include('partials/navigation.ejs') %>
</head>

<body>
    <main>
        <div id="container" class="container mt-5">
            <div class="row">
                <!-- Presupuestos -->
                <div class="col-md-6">
                    <div id="bodyPresupuestos">
                        <div class="col">
                            <h2 class="text-center">Gestión de Presupuestos</h2>
                            <div class="row">
                                <div class="col mb-3">
                                    <button id="btnPresupuesto" class="btnCommon btn btn-primary w-100">+ Asignar
                                        presupuesto</button>
                                </div>
                                <!-- Cantidad inicial de presupuesto -->
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6 mb-3">
                                    <label for="presupuestoTotal" title="Ingrese el presupuesto total">Presupuesto
                                        Total:</label>
                                    <input type="number" id="presupuestoTotal" class="form-control"
                                        placeholder="oooo.oo">
                                </div>
                                <div class="col-md-6">
                                    <label for="ahorroMensualPresupuesto">Ahorro Mensual:</label>
                                    <input type="number" id="ahorroMensualPresupuesto" class="form-control" readonly>
                                </div>
                                <!-- Ahorro mensual es la sumaPresupuestos - PresupuestoTotal -->
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-striped table-hover table-borderless table-secondary align-middle">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Acción</th>
                                                    <th>ID Proyecto</th>
                                                    <th>Monto total</th>
                                                    <th>Área</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% if (presupuestos && presupuestos.length> 0) { %>
                                                    <% presupuestos.forEach(presupuesto=> { %>
                                                        <tr class="table-secondary presupuesto-row">
                                                            <td>
                                                                <a name="detallesPresupuesto"
                                                                    class="btn btn-success btn-sm"
                                                                    data-presupuesto-id="<%= presupuesto.idPresupuesto %>">Detalles</a>
                                                                <a name="editarPresupuesto"
                                                                    class="btn btn-primary btn-sm"
                                                                    data-presupuesto-id="<%= presupuesto.idPresupuesto %>">Editar</a>
                                                                <a name="eliminarPresupuesto"
                                                                    class="btn btn-danger btn-sm"
                                                                    data-presupuesto-id="<%= presupuesto.idPresupuesto %>">Eliminar</a>
                                                            </td>
                                                            <td class="idProyecto">
                                                                <%= presupuesto.idProyecto %>
                                                            </td>
                                                            <td class="montoTotal">
                                                                <%= presupuesto.montoTotal %>
                                                            </td>
                                                            <td>
                                                                <%= presupuesto.area %>
                                                            </td>
                                                            <!-- <td>
                                                                <%= presupuesto.descripcion %>
                                                            </td> -->
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="8" class="text-center">No hay
                                                                        presupuestos disponibles</td>
                                                                </tr>
                                                                <% } %>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <div class="row">
                                                                                <div class="col-lg-8 col-xl-6 mx-auto">
                                                                                    <label for="sumaPresupuesto"
                                                                                        class="form-label">Suma
                                                                                        presupuestos:</label>
                                                                                    <input type="number"
                                                                                        id="sumaPresupuesto"
                                                                                        class="form-control form-control-lg"
                                                                                        readonly>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin de presupuestos -->

                <!-- Gastos -->
                <div class="col-md-6">
                    <div id="bodyGastos">
                        <div class="col">
                            <h2 class="text-center">Gestión de Gastos</h2>
                            <div class="row">
                                <div class="col mb-3">
                                    <button id="btnGasto" class="btnCommon btn btn-primary w-100">+ Definir
                                        gasto</button>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-12 mb-3">
                                    <label for="presupuestoTotalMensualGasto">Presupuesto mensual restante:</label>
                                    <input type="number" id="presupuestoTotalMensualGasto" class="form-control"
                                        readonly>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <div class="table-responsive">
                                        <table
                                            class="table table-striped table-hover table-borderless table-secondary align-middle">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Acción</th>
                                                    <th>ID Proyecto</th>
                                                    <th>Monto Gasto</th>
                                                    <th>Descripción</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-group-divider">
                                                <% if (gastos && gastos.length> 0) { %>
                                                    <% gastos.forEach(gasto=> { %>
                                                        <tr class="table-secondary gasto-row">
                                                            <td>
                                                                <a name="detallesGasto" class="btn btn-success btn-sm"
                                                                    data-gasto-id="<%= gasto.idGasto %>">Detalles</a>
                                                                <a name="editarGasto" class="btn btn-primary btn-sm"
                                                                    data-gasto-id="<%= gasto.idGasto %>">Editar</a>
                                                                <a name="eliminarGasto" class="btn btn-danger btn-sm"
                                                                    data-gasto-id="<%= gasto.idGasto %>">Eliminar</a>
                                                            </td>
                                                            <td>
                                                                <%= gasto.idProyecto %>
                                                            </td>
                                                            <td class="montoTotalGasto">
                                                                <%= gasto.montoGasto %>
                                                            </td>
                                                            <td>
                                                                <%= gasto.descripcionGasto %>
                                                            </td>
                                                            <td class="idProyecto">
                                                                <%= gasto.idProyecto %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                            <% } else { %>
                                                                <tr>
                                                                    <td colspan="8" class="text-center">No hay gastos
                                                                        disponibles</td>
                                                                </tr>
                                                                <% } %>
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <div class="row">
                                                                                <div class="col-lg-8 col-xl-6 mx-auto">
                                                                                    <label for="gastosTotales"
                                                                                        class="form-label">Gastos
                                                                                        totales:</label>
                                                                                    <input type="number"
                                                                                        id="gastosTotales"
                                                                                        class="form-control form-control-lg"
                                                                                        readonly>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Fin de Gastos -->
            </div>
        </div>
    </main>
</body>
<footer>
    <%- include('partials/footer.ejs')%>
</footer>

</html>



<script>

    //////////////////////////////////////// AHORRRO MENSUAL PRESUPUESTOS ////////////////////////////////////////

    function ahorroMensualPresupuestos() {
        // Obtiene los valores de los inputs
        const presupuestoTotal = parseFloat(document.getElementById('presupuestoTotal').value) || 0;
        const sumaPresupuesto = parseFloat(document.getElementById('sumaPresupuesto').value) || 0;

        // Calcula el ahorro mensual
        const ahorroMensual = presupuestoTotal - sumaPresupuesto;

        // Actualiza el input con el id 'ahorroMensualPresupuesto' con el resultado del cálculo
        document.getElementById('ahorroMensualPresupuesto').value = ahorroMensual.toFixed(2);
    }

    // Llama a la función para que se ejecute al cargar la página
    document.addEventListener('DOMContentLoaded', () => {
        sumaPresupuestos();

        // Agrega un evento para recalcular el ahorro mensual cuando cambia el presupuesto total
        document.getElementById('presupuestoTotal').addEventListener('input', ahorroMensualPresupuestos);
    });

    /////////////////////////////////////// FIN AHORRRO MENSUAL PRESUPUESTOS //////////////////////////////////////

    // Función para desplegar el alert de saldo proximo a vencer
    document.addEventListener("DOMContentLoaded", function () {
        const presupuestoRows = document.querySelectorAll(".presupuesto-row");
        const gastoRows = document.querySelectorAll(".gasto-row");
        const limiteProximidad = 0.9; // 90% del presupuesto

        // Agrupar los gastos por idProyecto
        const gastosPorProyecto = {};
        gastoRows.forEach(row => {
            const idProyecto = row.querySelector(".idProyecto").innerText.trim();
            const montoGasto = parseFloat(row.querySelector(".montoTotalGasto").innerText.trim()) || 0;

            if (!gastosPorProyecto[idProyecto]) {
                gastosPorProyecto[idProyecto] = 0;
            }
            gastosPorProyecto[idProyecto] += montoGasto;
        });

        // Comparar los gastos con los presupuestos
        presupuestoRows.forEach(row => {
            const idProyecto = row.querySelector(".idProyecto").innerText.trim();
            const montoTotal = parseFloat(row.querySelector(".montoTotal").innerText.trim()) || 0;
            const sumaGastos = gastosPorProyecto[idProyecto] || 0;
            const porcentajeGasto = sumaGastos / montoTotal;

            if (porcentajeGasto >= limiteProximidad) {
                alert(`El proyecto con ID ${idProyecto} tiene gastos (${sumaGastos}) que están próximos a agotar el presupuesto total (${montoTotal}). Actualmente ha gastado el ${Math.round(porcentajeGasto * 100)}% del presupuesto.`);
            }
        });
    });

    //////////////////////////////////////// SUMA PRESUPUESTOS ////////////////////////////////////////

    function sumaPresupuestos() {
        // Selecciona todas las celdas que contienen los montos totales
        const montosTotales = document.querySelectorAll('.montoTotal');

        // Suma los valores de esas celdas
        let suma = 0;
        montosTotales.forEach(celda => {
            suma += parseFloat(celda.textContent) || 0;
        });

        // Actualiza el input con el id 'sumaPresupuesto' con el resultado de la suma
        document.getElementById('sumaPresupuesto').value = suma.toFixed(2);
    }

    // Llama a la función para que se ejecute al cargar la página
    document.addEventListener('DOMContentLoaded', sumaPresupuestos);

    //////////////////////////////////////// FIN SUMA PRESUPUESTOS ////////////////////////////////////////

    ///////////////////////////////////////// SUMA GASTOS ///////////////////////////////////////////

    function sumaGastos() {
        // Selecciona todas las celdas que contienen los montos totales
        const montosTotalesGastos = document.querySelectorAll('.montoTotalGasto');

        // Suma los valores de esas celdas
        let suma = 0;
        montosTotalesGastos.forEach(celda => {
            suma += parseFloat(celda.textContent) || 0;
        });

        // Actualiza el input con el id 'gastosTotales' con el resultado de la suma
        document.getElementById('gastosTotales').value = suma.toFixed(2);
    }

    // Llama a la función para que se ejecute al cargar la página
    document.addEventListener('DOMContentLoaded', sumaGastos);

    //////////////////////////////////////// FIN SUMA GASTOS ///////////////////////////////////////////////


    //////////////////////////////////////// AHORRRO MENSUAL GASTOS ////////////////////////////////////////

    function presupuestoTotalMensualGasto() {
        // Obtiene los valores de los inputs
        const gastosTotales = parseFloat(document.getElementById('gastosTotales').value) || 0;
        const sumaPresupuesto = parseFloat(document.getElementById('sumaPresupuesto').value) || 0;

        // Calcula el ahorro mensual
        const ahorroMensual = sumaPresupuesto - gastosTotales;

        // Actualiza el input con el id 'presupuestoTotalMensualGasto' con el resultado del cálculo
        document.getElementById('presupuestoTotalMensualGasto').value = ahorroMensual.toFixed(2);
    }

    // Llama a la función para que se ejecute al cargar la página
    document.addEventListener('DOMContentLoaded', () => {
        presupuestoTotalMensualGasto();

        // Agrega un evento para recalcular el ahorro mensual cuando cambia el presupuesto total
        document.getElementById('presupuestoTotalMensualGasto').addEventListener('input', presupuestoTotalMensualGasto);
    });

    //////////////////////////////////////// FIN AHORRRO MENSUAL GASTOS ////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////// GASTOS //////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////
    /////////////////// CREATE /////////////////////////////

    async function cargarProyectosGastos() {
        try {
            const response = await fetch('/gastosProyecto');
            if (response.ok) {
                const proyectos = await response.json();
                const selectProyecto = popup.document.getElementById('idProyecto');

                proyectos.forEach(proyecto => {
                    const option = document.createElement('option');
                    option.value = proyecto.idProyecto;
                    option.textContent = proyecto.nombreProyecto;
                    selectProyecto.appendChild(option);
                });
            } else {
                console.error('Error al obtener los proyectos:', await response.text());
            }
        } catch (error) {
            console.error('Error al realizar la solicitud getProyectos:', error);
        }
    }

    var popup;

    var btnGasto = document.getElementById('btnGasto').addEventListener('click', function () {
        popup = window.open('', 'popup', 'width=400,height=500');

        var formContent = `
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Gasto</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="bodyPopup">
    <form class="popup-form" enctype="multipart/form-data" method="post" action="/gastos">
        <label for="idProyecto">Nombre del proyecto:</label><br>
        <select id="idProyecto" name="idProyecto" style="width: 200px; height: 30px;">
            <option value="">Seleccione un proyecto...</option>
        </select><br>

        <label for="descripcionGasto">Descripción del gasto:</label><br>
        <input type="text" id="descripcionGasto" name="descripcionGasto"><br>
    
        <label for="fechaGasto">Fecha del gasto:</label><br>
        <input type="date" id="fechaGasto" name="fechaGasto"><br>
    
        <label for="lugarGasto">Lugar del gasto:</label><br>
        <input type="text" id="lugarGasto" name="lugarGasto"><br>
    
        <label for="imagenGasto">Cargue su imagen:</label><br>
        <input type="file" id="imagenGasto" name="imagenGasto" accept="image/*"><br>
        
        <label for="montoGasto">Monto del gasto:</label><br>
        <input type="number" id="montoGasto" name="montoGasto"><br>
    
        <button class="btnPopup" type="submit">Guardar</button>
        <button class="btnPopup" type="button" onclick="window.close()">Cancelar</button>
    </form>
</body>
</html>
`;


        popup.document.write(formContent);

        setTimeout(() => {
            cargarProyectosGastos();

            popup.document.querySelector('form').addEventListener('submit', function (event) {
                event.preventDefault();
                btnPopupGuardarGasto();
            });
        }, 100);
    });

    async function btnPopupGuardarGasto() {
        var idProyecto = popup.document.getElementById('idProyecto').value;
        var descripcionGasto = popup.document.getElementById('descripcionGasto').value;
        var lugarGasto = popup.document.getElementById('lugarGasto').value;
        var montoGasto = popup.document.getElementById('montoGasto').value;
        var fechaGasto = new Date(popup.document.getElementById('fechaGasto').value);
        var imagenGasto = popup.document.getElementById('imagenGasto').value;

        var nuevoGasto = {
            idProyecto: idProyecto,
            descripcionGasto: descripcionGasto,
            lugar: lugarGasto,
            montoGasto: montoGasto,
            fechaGasto: fechaGasto,
            imagen: imagenGasto
        };

        fetch('/gastos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(nuevoGasto)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Gasto creado exitosamente') {
                    popup.close();
                    window.location.reload();
                } else {
                    console.error('Error al guardar el nuevo gasto:', data);
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Read ///////////////////////////////

    // Ventana emergente para detalles de gasto
    document.querySelectorAll('[name="detallesGasto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idGasto = this.getAttribute('data-gasto-id');
            const response = await fetch(`/gastos/${idGasto}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const gasto = await response.json();
                var formContent = `
            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Detalles de Gastos</title>
              <link rel="stylesheet" href="/css/main.css">
            </head>
            <body class="bodyPopup">
              <div class="popup-form">
                <p ><strong>ID Gasto:</strong> ${gasto.idGasto}</p>
                <p ><strong>ID Proyecto:</strong> ${gasto.idProyecto}</p>
                <p ><strong>Descripción del gasto:</strong> ${gasto.descripcionGasto}</p>
                <p ><strong>Lugar del gasto:</strong> ${gasto.lugar}</p>
                <p ><strong>Monto del gasto:</strong> ${gasto.montoGasto}</p>
                <p ><strong>Fecha del gasto:</strong> ${gasto.fechaGasto}</p>
                <p><strong>Imagen del gasto:</strong></p>
                <img src="${gasto.imagen}" alt="Imagen del gasto" style="max-width: auto; height: auto;" /><br>
                <br>
                <button class="btnPopup" type="button" onclick="window.close()">Cerrar</button>
              </div>
            </body>
            </html>
          `;
                var popup = window.open('', 'popup', 'width=400,height=500');
                popup.document.write(formContent);
            } else {
                console.error('Error al obtener los detalles del gasto:', await response.text());
            }
        });
    });

    ////////////////////////////////////////////////////////
    /////////////////// Update /////////////////////////////

    // Ventana emergente para editar un proyecto
    document.querySelectorAll('[name="editarGasto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idGasto = this.getAttribute('data-gasto-id');
            const response = await fetch(`/gastos/${idGasto}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const gasto = await response.json();

                // Obtener los proyectos disponibles
                const proyectosResponse = await fetch('/gastosProyecto');
                if (!proyectosResponse.ok) {
                    console.error('Error al obtener los proyectos:', await proyectosResponse.text());
                    return;
                }
                const proyectos = await proyectosResponse.json();

                // Construir las opciones del select de proyectos
                const selectProyecto = document.createElement('select');
                selectProyecto.setAttribute('id', 'idProyecto');
                selectProyecto.setAttribute('name', 'idProyecto');
                selectProyecto.style.width = '200px';
                selectProyecto.style.height = '30px';
                selectProyecto.innerHTML = '<option value="">Seleccione un proyecto...</option>';
                proyectos.forEach(proyecto => {
                    const option = document.createElement('option');
                    option.value = proyecto.idProyecto;
                    option.textContent = proyecto.nombreProyecto;
                    if (gasto.idProyecto === proyecto.idProyecto) {
                        option.selected = true; // Seleccionar el proyecto correspondiente al proyecto
                    }
                    selectProyecto.appendChild(option);
                });

                const formContent = `
                <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Actualizar gasto</title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body class="bodyPopup">
            <form class="popup-form">
                <label for="idProyecto">Nombre del proyecto:</label><br>
                ${selectProyecto.outerHTML}<br>
                <label for="descripcionGasto">Descripción del gasto:</label><br>
                <input type="text" id="descripcionGasto" name="descripcionGasto" value="${gasto.descripcionGasto}" required><br>
                <label for="lugar">Lugar del gasto:</label><br>
                <textarea id="lugar" name="lugar">${gasto.lugar}</textarea><br>
                <label for="montoGasto">Monto del gasto:</label><br>
                <textarea type="number" id="montoGasto" name="montoGasto">${gasto.montoGasto}</textarea><br>
                <label for="fechaGasto">Fecha del Gasto:</label><br>
                <input type="date" id="fechaGasto" name="fechaGasto" value="${gasto.fechaGasto}"><br>
                <label for="imagen">Imagen del gasto:</label><br>
                <input type="file" id="imagen" name="imagen" value="${gasto.imagenGasto}" required><br>
                <button class="btnPopup" type="submit">Guardar</button>
                <button class="btnPopup" type="button" onclick="window.close()">Cancelar</button>
                            
            </form>
        </body>
        </html>
`;

                const popup = window.open('', 'popup', 'width=400,height=600');
                popup.document.write(formContent);
                popup.document.querySelector('form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    btnPopupActualizarGasto(idGasto, popup);
                });
            } else {
                console.error('Error al actualizar el gasto:', await response.text());
            }
        });
    });

    function btnPopupActualizarGasto(idGasto, popup) {
        const idProyecto = popup.document.getElementById('idProyecto').value;
        const descripcionGasto = popup.document.getElementById('descripcionGasto').value;
        const lugarGasto = popup.document.getElementById('lugar').value;
        const montoGasto = popup.document.getElementById('montoGasto').value;
        const fechaGasto = new Date(popup.document.getElementById('fechaGasto').value);
        const imagen = popup.document.getElementById('imagen').value;

        const proyectoActualizado = {
            idProyecto: idProyecto,
            descripcionGasto: descripcionGasto,
            lugar: lugarGasto,
            montoGasto: montoGasto,
            fechaGasto: fechaGasto,
            imagen: imagen
        };

        fetch(`/gastos/${idGasto}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(proyectoActualizado)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Gasto actualizado exitosamente') {
                    popup.close();
                    window.location.reload();
                } else {
                    console.error('Error al actualizar el gasto:', data);
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Delete /////////////////////////////

    // Manejador de clic para el botón de eliminar
    document.querySelectorAll('[name="eliminarGasto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idGasto = this.getAttribute('data-gasto-id');
            const confirmacion = confirm('¿Estás seguro de que quieres eliminar este registro de gasto?');
            if (confirmacion) {
                const response = await fetch(`/gastos/${idGasto}`, {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await response.json();
                // Aquí se muestra un mensaje de éxito
                console.log(data);
                window.location.reload(); // Recargar la página después de eliminar el usuario
            }
        });
    });

    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////// PRESUPUESTO ////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////
    /////////////////// CREATE /////////////////////////////

    async function cargarProyectosPresupuestos() {
        try {
            const response = await fetch('/presupuestosProyecto');
            if (response.ok) {
                const proyectos = await response.json();
                const selectProyecto = popup.document.getElementById('idProyecto');

                proyectos.forEach(proyecto => {
                    const option = document.createElement('option');
                    option.value = proyecto.idProyecto;
                    option.textContent = proyecto.nombreProyecto;
                    selectProyecto.appendChild(option);
                });
            } else {
                console.error('Error al obtener los proyectos:', await response.text());
            }
        } catch (error) {
            console.error('Error al realizar la solicitud getProyectos:', error);
        }
    }

    var popup;

    var btnPresupuesto = document.getElementById('btnPresupuesto').addEventListener('click', function () {
        popup = window.open('', 'popup', 'width=400,height=500');

        var formContent = `
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Agregar Presupuesto</title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body class="bodyPopup">
            <form class="popup-form">
                <label for="idProyecto">Nombre del proyecto:</label><br>
                <select id="idProyecto" name="idProyecto" style="width: 200px; height: 30px;">
                    <option value="">Seleccione un proyecto...</option>
                </select><br>

                <label for="montoTotal">Monto del presupuesto:</label><br>
                <input type="number" id="montoTotal" name="montoTotal"><br>
            
                <label for="saldoPendiente">Saldo del presupuesto:</label><br>
                <input type="number" id="saldoPendiente" name="fechaGasto"><br>
            
                <label for="area">Área o Departamento:</label><br>
                <input type="text" id="area" name="area"><br>
            
                <label for="fechaMonto">Fecha del presupuesto:</label><br>
                <input type="date" id="fechaMonto" name="fechaMonto" accept="image/*"><br>
            
                <label for="descripcion">Descripción del presupuesto:</label><br>
                <textarea id="descripcion" name="descripcion"></textarea><br>

                <button class="btnPopup" type="submit">Guardar</button>
                <button class="btnPopup" type="button" onclick="window.close()">Cancelar</button>
            </form>
        </body>
        </html>
    `;

        popup.document.write(formContent);

        setTimeout(() => {
            cargarProyectosPresupuestos();

            popup.document.querySelector('form').addEventListener('submit', function (event) {
                event.preventDefault();
                btnPopupGuardarPresupuesto();
            });
        }, 100);
    });

    async function btnPopupGuardarPresupuesto() {
        var idProyecto = popup.document.getElementById('idProyecto').value;
        var montoTotal = popup.document.getElementById('montoTotal').value;
        var saldoPendiente = popup.document.getElementById('saldoPendiente').value;
        var area = popup.document.getElementById('area').value;
        var fechaMonto = new Date(popup.document.getElementById('fechaMonto').value);
        var descripcion = popup.document.getElementById('descripcion').value;

        var nuevoPresupuesto = {
            idProyecto: idProyecto,
            montoTotal: montoTotal,
            saldoPendiente: saldoPendiente,
            area: area,
            fechaMonto: fechaMonto,
            descripcion: descripcion
        };

        fetch('/presupuestos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(nuevoPresupuesto)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Presupuesto creado exitosamente') {
                    popup.close();
                    window.location.reload();
                } else {
                    console.error('Error al guardar el nuevo presupuesto:', data);
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Read ///////////////////////////////

    // Ventana emergente para detalles de gasto
    document.querySelectorAll('[name="detallesPresupuesto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPresupuesto = this.getAttribute('data-presupuesto-id');
            const response = await fetch(`/presupuestos/${idPresupuesto}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const presupuesto = await response.json();
                var formContent = `
            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Detalles de presupuesto</title>
              <link rel="stylesheet" href="/css/main.css">
            </head>
            <body class="bodyPopup">
              <div class="popup-form">
                <p ><strong>ID Presupuesto:</strong> ${presupuesto.idPresupuesto}</p>
                <p ><strong>ID Proyecto:</strong> ${presupuesto.idProyecto}</p>
                <p ><strong>Monto del presupuesto:</strong> ${presupuesto.montoTotal}</p>
                <p ><strong>Saldo del presupuesto:</strong> ${presupuesto.saldoPendiente}</p>
                <p ><strong>Área o departamento:</strong> ${presupuesto.area}</p>
                <p ><strong>Fecha del presupuesto:</strong> ${presupuesto.fechaMonto}</p>
                <p ><strong>Descripción del presupuesto:</strong> ${presupuesto.descripcion}</p>
                <button class="btnPopup" type="button" onclick="window.close()">Cerrar</button>
              </div>
            </body>
            </html>
          `;
                var popup = window.open('', 'popup', 'width=400,height=500');
                popup.document.write(formContent);
            } else {
                console.error('Error al obtener los detalles del presupuesto:', await response.text());
            }
        });
    });

    ////////////////////////////////////////////////////////
    /////////////////// Update /////////////////////////////

    // Ventana emergente para editar un proyecto
    document.querySelectorAll('[name="editarPresupuesto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPresupuesto = this.getAttribute('data-presupuesto-id');
            const response = await fetch(`/presupuestos/${idPresupuesto}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const presupuesto = await response.json();

                // Obtener los proyectos disponibles
                const proyectosResponse = await fetch('/presupuestosProyecto');
                if (!proyectosResponse.ok) {
                    console.error('Error al obtener los proyectos:', await proyectosResponse.text());
                    return;
                }
                const proyectos = await proyectosResponse.json();

                // Construir las opciones del select de proyectos
                const selectProyecto = document.createElement('select');
                selectProyecto.setAttribute('id', 'idProyecto');
                selectProyecto.setAttribute('name', 'idProyecto');
                selectProyecto.style.width = '200px';
                selectProyecto.style.height = '30px';
                selectProyecto.innerHTML = '<option value="">Seleccione un proyecto...</option>';
                proyectos.forEach(proyecto => {
                    const option = document.createElement('option');
                    option.value = proyecto.idProyecto;
                    option.textContent = proyecto.nombreProyecto;
                    if (presupuesto.idProyecto === proyecto.idProyecto) {
                        option.selected = true; // Seleccionar el proyecto correspondiente al proyecto
                    }
                    selectProyecto.appendChild(option);
                });

                const formContent = `
                <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Actualizar presupuesto</title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body class="bodyPopup">
            <form class="popup-form">
                <label for="idProyecto">Nombre del proyecto:</label><br>
                ${selectProyecto.outerHTML}<br>
                <label for="montoTotal">Monto del presupuesto:</label><br>
                <textarea type="number" id="montoTotal" name="montoTotal">${presupuesto.montoTotal}</textarea><br>
                <label for="saldoPendiente">Saldo del presupuesto:</label><br>
                <textarea type="number" id="saldoPendiente" name="saldoPendiente">${presupuesto.saldoPendiente}</textarea><br>
                <label for="area">Área o departamento:</label><br>
                <textarea id="area" name="area">${presupuesto.area}</textarea><br>
                <label for="fechaMonto">Fecha del Gasto:</label><br>
                <input type="date" id="fechaMonto" name="fechaMonto" value="${presupuesto.fechaMonto}"><br>
                <label for="descripcion">Descripción del presupuesto:</label><br>
                <input type="text" id="descripcion" name="descripcion" value="${presupuesto.descripcion}" required><br>
                <button class="btnPopup" type="submit">Guardar</button>
                <button class="btnPopup" type="button" onclick="window.close()">Cancelar</button>
            </form>
        </body>
        </html>
`;

                const popup = window.open('', 'popup', 'width=400,height=600');
                popup.document.write(formContent);
                popup.document.querySelector('form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    btnPopupActualizarPresupuesto(idPresupuesto, popup);
                });
            } else {
                console.error('Error al actualizar el presupuesto:', await response.text());
            }
        });
    });

    function btnPopupActualizarPresupuesto(idPresupuesto, popup) {
        const idProyecto = popup.document.getElementById('idProyecto').value;
        const montoTotal = popup.document.getElementById('montoTotal').value;
        const saldoPendiente = popup.document.getElementById('saldoPendiente').value;
        const area = popup.document.getElementById('area').value;
        const fechaMonto = new Date(popup.document.getElementById('fechaMonto').value);
        const descripcion = popup.document.getElementById('descripcion').value;

        const presupuestoActualizado = {
            idProyecto: idProyecto,
            montoTotal: montoTotal,
            saldoPendiente: saldoPendiente,
            area: area,
            fechaMonto: fechaMonto,
            descripcion: descripcion
        };

        fetch(`/presupuestos/${idPresupuesto}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(presupuestoActualizado)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Presupuesto actualizado exitosamente') {
                    popup.close();
                    window.location.reload();
                } else {
                    console.error('Error al actualizar el presupuesto:', data);
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Delete /////////////////////////////

    // Manejador de clic para el botón de eliminar
    document.querySelectorAll('[name="eliminarPresupuesto"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPresupuesto = this.getAttribute('data-presupuesto-id');
            const confirmacion = confirm('¿Estás seguro de que quieres eliminar este registro de presupuesto?');
            if (confirmacion) {
                const response = await fetch(`/presupuestos/${idPresupuesto}`, {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await response.json();
                // Aquí se muestra un mensaje de éxito
                console.log(data);
                window.location.reload(); // Recargar la página después de eliminar el usuario
            }
        });
    });
</script>