<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include("partials/head") %>
        <%- include("partials/navigation.ejs") %>
            <!-- Uso de sweetalert2 -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="content-wrapper container mt-4">
        <main>
            <div class="row mb-3">
                <div class="col">
                    <button id="btnAddPartida" class="btnCommon btn btn-primary w-100">Agregar Partida</button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover table-borderless table-secondary align-middle">
                    <thead class="table-light">
                        <tr>
                            <th>Acciones</th>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <% if (partidas && partidas.length> 0) { %>
                            <% partidas.forEach(partida=> { %>
                                <tr class="table-secondary">
                                    <td>
                                        <a name="detallesPartida" class="btn btn-success btn-sm"
                                            data-partida-id="<%= partida.idPartida %>">Detalles</a>
                                        ||
                                        <a name="editarPartida" class="btn btn-primary btn-sm"
                                            data-partida-id="<%= partida.idPartida %>">Editar</a>
                                        ||
                                        <a name="eliminarPartida" class="btn btn-danger btn-sm"
                                            data-partida-id="<%= partida.idPartida %>">Eliminar</a>
                                    </td>
                                    <td scope="row">
                                        <%= partida.idPartida %>
                                    </td>
                                    <td>
                                        <%= partida.nombrePartida %>
                                    </td>
                                    <td>
                                        <%= partida.descripcionPartida %>
                                    </td>
                                </tr>
                                <% }) %>
                                    <% } else { %>
                                        <div class="alert alert-info">No hay partidas disponibles</div>
                                        <% } %>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</body>
<footer>
    <%- include('partials/footer.ejs')%>
</footer>

</html>

<!-- Uso de sweetalert2 para las alertas (presupuesto agotado) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<!-- Bootstrap JavaScript Libraries -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>

<script>
    ////////////////////////////////////////////////////////
    /////////////////// CREATE /////////////////////////////

    var popup;

    var btnAddPartida = document.getElementById('btnAddPartida').addEventListener('click', function () {
        popup = window.open('', 'popup', 'width=400,height=300');

        var formContent = `
        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Agregar Partida</title>
            <link rel="stylesheet" href="/css/main.css">
        </head>
        <body class="bodyPopup">
           <form class="popup-form">
                <label for="nombrePartida">Nombre de la partida:</label><br>
                <input type="text" id="nombrePartida" name="nombrePartida"><br>

                <label for="descripcionPartida">Descripción de la partida:</label><br>
                <input type="text" id="descripcionPartida" name="descripcionPartida"><br>

                <button class="btnPopup" type="submit">Guardar</button>
                <button class="btnPopup" type="button" onclick="window.opener.cerrarPopup()">Cancelar</button>
            </form>
        </body>
        </html>
      `;

        popup.document.write(formContent);

        popup.document.querySelector('form').addEventListener('submit', function (event) {
            event.preventDefault();
            btnPopupGuardar();
        });
    });

    function cerrarPopup() {
        if (popup) {
            popup.close();
        }
    }

    function btnPopupGuardar() {
        var nombrePartida = popup.document.getElementById('nombrePartida').value;
        var descripcionPartida = popup.document.getElementById('descripcionPartida').value;

        // Verificar si todos los campos están completos
        if (!nombrePartida || !descripcionPartida) {
            Swal.fire({
                title: 'Datos incompletos',
                text: 'Por favor complete todos los campos del formulario.',
                icon: 'warning',
                confirmButtonText: 'Entendido',
            });
            return; // Detener la ejecución de la función si los campos están incompletos
        }

        var nuevaPartida = {
            nombrePartida: nombrePartida,
            descripcionPartida: descripcionPartida
        };

        fetch('/partidas', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(nuevaPartida)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Partida creada exitosamente') {
                    popup.close();
                    Swal.fire({
                        title: 'Partida creado exitosamente',
                        text: 'El proyecto se ha registrado exitosamente',
                        icon: 'success',
                        confirmButtonText: 'Entendido',
                    }).then(() => {
                        // Esta línea se ejecutará cuando el usuario presione "Entendido"
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error al guardar la nueva partida',
                        text: 'Error al crear el registro de la nueva partida',
                        icon: 'success',
                        confirmButtonText: 'Entendido'
                    })
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Read ///////////////////////////////

    document.querySelectorAll('[name="detallesPartida"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPartida = this.getAttribute('data-partida-id');
            const response = await fetch(`/partidas/${idPartida}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const partida = await response.json();
                var formContent = `
            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Detalles de Partida</title>
              <link rel="stylesheet" href="/css/main.css">
            </head>
            <body class="bodyPopup">
              <div class="popup-form">
                <p><strong>ID:</strong> ${partida.idPartida}</p>
                <p><strong>Nombre de la partida:</strong> ${partida.nombrePartida}</p>
                <p><strong>Descripción:</strong> ${partida.descripcionPartida}</p>
                <button class="btnPopup" type="button" onclick="window.close()">Cerrar</button>
              </div>
            </body>
            </html>
          `;
                var popup = window.open('', 'popup', 'width=300,height=300');
                popup.document.write(formContent);
            } else {
                console.error('Error al obtener los detalles de la partida:', await response.text());
            }
        });
    });

    ////////////////////////////////////////////////////////
    /////////////////// Update /////////////////////////////

    document.querySelectorAll('[name="editarPartida"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPartida = this.getAttribute('data-partida-id');
            const response = await fetch(`/partidas/${idPartida}`, {
                method: 'GET',
                headers: { 'Content-Type': 'application/json' }
            });
            if (response.ok) {
                const partida = await response.json();
                const formContent = `
            <!DOCTYPE html>
            <html lang="en">
            <head>
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
              <title>Editar Partida</title>
              <link rel="stylesheet" href="/css/main.css">
            </head>
            <body class="bodyPopup">
              <form class="popup-form" id="formEditarPartida">
                <label for="nombrePartida">Nombre de la partida:</label><br>
                <input type="text" id="nombrePartida" name="nombrePartida" value="${partida.nombrePartida}" required><br>
                <label for="descripcionPartida">Descripción de la partida:</label><br>
                <input type="text" id="descripcionPartida" name="descripcionPartida" value="${partida.descripcionPartida}" required><br>
                <button class="btnPopup" type="submit">Actualizar</button>
                <button class="btnPopup" type="button" onclick="window.close()">Cerrar</button>
              </form>
            </body>
            </html>
          `;
                const popup = window.open('', 'popup', 'width=400,height=400');
                popup.document.write(formContent);
                popup.document.querySelector('form').addEventListener('submit', function (event) {
                    event.preventDefault();
                    btnPopupActualizar(idPartida, popup);
                });
            } else {
                console.error('Error al actualizar la partida:', await response.text());
            }
        });
    });

    function btnPopupActualizar(idPartida, popup) {
        const nombrePartida = popup.document.getElementById('nombrePartida').value;
        const descripcionPartida = popup.document.getElementById('descripcionPartida').value;

        // Verificar si todos los campos están completos
        if (!nombrePartida || !descripcionPartida) {
            Swal.fire({
                title: 'Datos incompletos',
                text: 'Por favor complete todos los campos del formulario.',
                icon: 'warning',
                confirmButtonText: 'Entendido',
            });
            return; // Detener la ejecución de la función si los campos están incompletos
        }

        const partidaActualizada = {
            nombrePartida: nombrePartida,
            descripcionPartida: descripcionPartida
        };

        fetch(`/partidas/${idPartida}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(partidaActualizada)
        })
            .then(response => response.json())
            .then(data => {
                if (data.mensaje === 'Partida actualizada exitosamente') {
                    popup.close();
                    Swal.fire({
                        title: 'Partida modificada exitosamente',
                        text: `La partida se ha actualizado exitosamente`,
                        icon: 'success',
                        confirmButtonText: 'Entendido'
                    }).then(() => {
                        // Esta línea se ejecutará cuando el usuario presione "Entendido"
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        title: 'Error al guardar la partida',
                        text: 'No se ha podido completar la actualización del registro de partida.',
                        icon: 'warning',
                        confirmButtonText: 'Entendido',
                    });
                }
            })
            .catch(error => {
                console.error('Error al realizar la solicitud:', error);
            });
    }

    ////////////////////////////////////////////////////////
    /////////////////// Delete /////////////////////////////

    document.querySelectorAll('[name="eliminarPartida"]').forEach(btn => {
        btn.addEventListener('click', async function () {
            const idPartida = this.getAttribute('data-partida-id');

            // Usar Swal para la confirmación
            const result = await Swal.fire({
                title: '¿Estás seguro?',
                text: '¿Estás seguro de que quieres eliminar esta partida?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            });

            if (result.isConfirmed) {
                const response = await fetch(`/partidas/${idPartida}`, {
                    method: 'DELETE',
                    headers: { 'Content-Type': 'application/json' }
                });
                const data = await response.json();
                // Aquí se muestra un mensaje de éxito
                //console.log(data);
                Swal.fire({
                    title: 'Se ha elimnado el registro',
                    text: 'Se ha eliminado el registro de partida de manera exitosa.',
                    icon: 'success',
                    confirmButtonText: 'Entendido',
                }).then(() => {
                    // Esta línea se ejecutará cuando el usuario presione "Entendido"
                    window.location.reload();// Recargar la página después de eliminar el usuario
                });
            }
        });
    });
</script>